server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: doctor-service-route
          uri: http://localhost:4008
          predicates:
            - name: Path
              args:
                pattern: /api/v1/doctor/**

        - id: appointment-service-route
          uri: http://localhost:4009
          predicates:
            - name: Path
              args:
                pattern: /api/v1/appointment/**


