server:
  port: 4004

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: doctor-service-route
          uri: lb://doctor-service
          predicates:
            - name: Path
              args:
                pattern: /api/v1/doctor/**

        - id: appointment-service-route
          uri: lb://appointment-service
          predicates:
            - name: Path
              args:
                pattern: /api/v1/appointment/**

        - id: appointment-service-circuit-route
          uri: lb://appointment-service
          predicates:
            - name: Path
              args:
                pattern: /doctor/circuit


