server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-route
          uri: http://patient-service:4000
          predicates:
            - name: Path
              args:
                pattern: /api/patients/**
          filters:
            - name: StripPrefix
              args:
                parts: 1

        - id: api-docs-patient-route
          uri: http://patient-service:4000
          predicates:
            - name: Path
              args:
                pattern: /api-docs/patients
          filters:
            - name: RewritePath
              args:
                regexp: /api-docs/patients
                replacement: /v3/api-docs

