server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-route
          uri: http://patient-service:4000
          predicates:
            - name: Path
              args:
                pattern: /api/patients/**
          filters:
            - name: StripPrefix
              args:
                parts: 1
            - name: JwtValidation

        - id: api-docs-patient-route
          uri: http://patient-service:4000
          predicates:
            - name: Path
              args:
                pattern: /api-docs/patients
          filters:
            - name: RewritePath
              args:
                regexp: /api-docs/patients
                replacement: /v3/api-docs

        - id: auth-service-route
          uri: http://auth-service:4005
          predicates:
            - name: Path
              args:
                pattern: /auth/**
          filters:
            - name: StripPrefix
              args:
                parts: 1

        - id: api-docs-auth-route
          uri: http://auth-service:4005
          predicates:
            - name: Path
              args:
                pattern: /api-docs/auth
          filters:
            - name: RewritePath
              args:
                regexp: /api-docs/auth
                replacement: /v3/api-docs

