spring:
  application:
    name: doctor-service

  config:
    import: optional:file:.env[.properties]

  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    locations: classpath:db.migration

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

server:
  port: 4008

grpc:
  server:
    port: 9005

eureka:
  instance:
    non-secure-port: ${server.port}
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
